.venv/
.vs
venv
.venv_chatter/
.venv_chatter
__pycache__/
*/__pycache__/.venv_chatter/
.vscode/
.venv_ocr_craft/
.venv_ocr_craft
.venv_paddle/
.venv_paddle
.venv_ollama
.venv_ollama/
.venv_main
.venv_main/
.venv_elevenlabs/
.venv_elevenlabs
.venv_dia/
.venv_dia
.env


